table {
    width: calc(100% - 10%); 
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;  
    margin-right: auto;  
    margin-bottom: 250px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 2px solid #BD897E;
}

th {
    background-color: #95A78D;
    color: #D7D0C8;
    font-size: 1rem;
}

td {
    background-color: #C8C6AF;
    color: #504e4c;
}

tr:nth-child(even) {
    background-color: #D7D0C8;
}

tr:hover {
    background-color: #BD897E;
    color: #fff;
}

.caption {
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    color: #D7D0C8;
}

.table-footer {
    background-color: #95A78D;
    color: #D7D0C8;
    padding: 10px;
    text-align: center;
}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  
}

.modal-content {
    background-color: #C8C6AF;  
    margin: auto;
    padding: 20px;
    border: 1px solid #BD897E;  
    border-radius: 8px;  
    width: 50%;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}

.close {
    color: #BD897E;  
    float: right;
    font-size: 1.5rem;  
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #F87666;  
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal label {
    margin-top: 10px;
}

.modal input[type="text"],
.modal input[type="datetime-local"],
.modal input[type="number"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #BD897E;  
    border-radius: 4px;  
    width: calc(100% - 22px);  
}

.modal button {
    padding: 10px 15px;
    margin-top: 15px;
    background-color: #95A78D;  
    color: #D7D0C8;  
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal button:hover {
    background-color: #BD897E;  
}

